{% extends 'base.html' %}
{% block title %}{{ service.service_name }} | Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}{{ service.service_name }}{% endblock page_name %}
{% block page_link %}<a style="color: #e63a3a;"href="{% url 'main_application:service-list' %}">Service</a>{% endblock page_link %}
{% block page_link_1 %}<a style="color: #e63a3a;" href="{{ service.get_absolute_url }}">{{ service.service_name }}</a>{% endblock page_link_1 %}
{% load static %}
{% block content %}
        <!-- Start Service -->
        <section class="section-padding bg-light-white service-page">
            <div class="container">
                <div class="row">
                    <aside class="col-lg-4">
                        <div class="sidebar_wrap mb-md-80">
                            <div class="sidebar">
                                <div class="sidebar_widgets mb-xl-30">
                                    <div class="widget_title bg-light-blue">
                                        <h5 class="no-margin text-custom-white fw-600">Search</h5>
                                    </div>
                                    <form>
                                        <div class="form-group mb-0">
                                            <div class="search p-relative">
                                                <input type="text" name="#" class="form-control form-control-custom" placeholder="Title or keywords">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                               <div class="sidebar_widgets mb-xl-30">
                                    <div class="widget_title bg-light-blue">
                                        <h5 class="no-margin text-custom-white fw-600">All Service</h5>
                                    </div>
                                    <ul class="custom sidebar-services">
                                        <li class="active">
                                            <a href="service-detail.html" class="text-custom-black fs-14">{{ service.service_name }} <span><i class="fas fa-chevron-right"></i></span></a>
                                        </li>
                                        {% for service in service_details %}
                                        <li>
                                            <a href="{{ service.get_absolute_url }}" class="text-custom-black fs-14">{{ service.service_name }}<span><i class="fas fa-chevron-right"></i></span></a>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </aside>

                   <div class="col-lg-8">
                        <div class="col-12">
                            <div class="service-detail-sec bg-custom-white bx-wrapper">
                                <div class="services-detail-slider mb-xl-30">
                                    <div class="service-image">
                                        <img src="{{ service.service_image.url }}" class="image-fit" alt="img">
                                        <div class="overlay overlay-bg-black"></div>
                                        <div class="service-text-wrapper transform-center">
                                            <h3 class="text-custom-white">{{ service.service_name }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="service-meta mb-xl-30">
                                    <h2 class="text-custom-black fw-600">{{ service.service_name}}</h2>
                                    <p class="text-light-white">{{ service.service_description|safe }}</p>
                                                 </div>
                            </div>

                    </div>
                </div>
                </div>
                </div>
        </section>
        <!-- End Service -->

{% endblock %}