{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="icofont-support text-lg"></i>
            </div>
             <span class="h3">Call for an Emergency Service!</span>
              <h2 class="text-color mt-3">+84 789 1256 </h2>
          </div>
      </div>

      <div class="col-lg-8">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Add Service</h2>
               <form id="#" class="ServiceForm" method="POST" enctype="multipart/form-data" action="">
                   {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}