{% extends 'base.html' %}
{% block title %}About Us| Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}About Us{% endblock page_name %}
{% block page_link %}<a href="{% url 'main_application:about' %}">About Us</a>{% endblock page_link %}
{% load static %}
{% block content %}
        <!-- Start About -->
        <section class="section-padding bg-light-white about-story">
            <div class="container">
                <div class="section-header">
                    <div class="section-heading">
                        <h3 class="text-custom-black fw-700">A Story To Our Journey</h3>
                        <img src="{% static 'assets/images/title-icon.png' %}" class="mb-xl-20" alt="img">
                        <div class="section-description">
                            <p class="text-light-white">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs square-tabs">
                            <ul class="nav nav-tabs custom p-relative mb-xl-30">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#start">1990</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#setup">2006</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#medium">2010</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#advance">2019</a>
                                </li>
                            </ul>
                            <div class="tab-content padding-20 bg-custom-white bx-wrapper">
                                <div class="tab-pane fade show active" id="start">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="https://via.placeholder.com/500x460" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black fw-600">Collaborate With Team Members To Rise</h4>
                                                    <p class="text-light-blue">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <div class="list">
                                                        <ul class="custom">
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="#" class="btn-first btn-submit text-light-blue">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="setup">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="https://via.placeholder.com/500x460" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black fw-600">Collaborate With Team Members To Rise</h4>
                                                    <p class="text-light-blue">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <div class="list">
                                                        <ul class="custom">
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="#" class="btn-first btn-submit text-light-blue">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="medium">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="https://via.placeholder.com/500x460" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black fw-600">Collaborate With Team Members To Rise</h4>
                                                    <p class="text-light-blue">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <div class="list">
                                                        <ul class="custom">
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="#" class="btn-first btn-submit text-light-blue">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="advance">
                                    <div class="tab-inner">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="img-sec mb-md-40">
                                                    <img src="https://via.placeholder.com/500x460" class="full-width" alt="img">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="content-box">
                                                    <h4 class="text-custom-black fw-600">Collaborate With Team Members To Rise</h4>
                                                    <p class="text-light-blue">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    <div class="list">
                                                        <ul class="custom">
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                            <li class="fs-14 text-light-blue">
                                                                <i class="fas fa-check"></i>
                                                                <span class="text-light-white">Lorem Ipsum</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="#" class="btn-first btn-submit text-light-blue">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->
        <div class="about-counter section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box mb-md-40">
                            <div class="counter-icon">
                                <i class="flaticon-medical"></i>
                            </div>
                            <div class="counter">
                                <span class="count text-custom-white">800</span>
                                <span class="fs-16 text-custom-white">Satisfied Patients</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box mb-md-40">
                            <div class="counter-icon">
                                <i class="flaticon-doctor"></i>
                            </div>
                            <div class="counter">
                                <span class="count text-custom-white">350</span>
                                <span class="fs-16 text-custom-white">Certified Doctor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box mb-xs-40">
                            <div class="counter-icon">
                                <i class="flaticon-award"></i>
                            </div>
                            <div class="counter">
                                <span class="count text-custom-white">250</span>
                                <span class="fs-16 text-custom-white">Winning Awards</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box">
                            <div class="counter-icon">
                                <i class="flaticon-balloons"></i>
                            </div>
                            <div class="counter">
                                <span class="count text-custom-white">25</span>
                                <span class="fs-16 text-custom-white">Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Team -->
        <section class="section-padding doctors-team-style-2">
            <div class="container">
                <div class="section-header">
                    <div class="section-heading">
                        <h3 class="text-custom-black fw-700">Our Doctors</h3>
                        <img src="{% static '/images/title-icon.png' %}" class="mb-xl-20" alt="img">
                        <div class="section-description">
                            <p class="text-light-white">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                            </p>
                        </div>
                    </div>
                </div>
         <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

             <div class="carousel-inner" role="listbox">
<div class="row">
    <div class="carousel-item active">
        <div class="col-md-3" style="float:left">
                    <div class="col-12 no-padding">
                        <div class="doctors-slider">
                            <div class="slide-item col-12">
                                <div class="team-block p-relative">
                                    <div class="inner-box">
                                        <div class="image animate-img">
                                            <img src="https://via.placeholder.com/255" alt="img" class="full-width">
                                            <div class="overlay-box">
                                                <div class="overlay-inner p-relative full-height">
                                                    <ul class="team-social-box custom">
                                                        <li class="youtube"><a href="#" class="fab fa-youtube fs-16"></a></li>
                                                        <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16"></a></li>
                                                        <li class="facebook"><a href="#" class="fab fa-facebook-f fs-16"></a></li>
                                                        <li class="twitter"><a href="#" class="fab fa-twitter fs-16"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content p-relative text-center">
                                            <h4><a href="#" class="text-custom-black fw-600 fs-20">Eachann Jhon</a></h4>
                                            <p class="designation text-light-white">Gastroenterologists</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-3" style="float:left">
                    <div class="col-12 no-padding">
                        <div class="doctors-slider">
                            <div class="slide-item col-12">
                                <div class="team-block p-relative">
                                    <div class="inner-box">
                                        <div class="image animate-img">
                                            <img src="https://via.placeholder.com/255" alt="img" class="full-width">
                                            <div class="overlay-box">
                                                <div class="overlay-inner p-relative full-height">
                                                    <ul class="team-social-box custom">
                                                        <li class="youtube"><a href="#" class="fab fa-youtube fs-16"></a></li>
                                                        <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16"></a></li>
                                                        <li class="facebook"><a href="#" class="fab fa-facebook-f fs-16"></a></li>
                                                        <li class="twitter"><a href="#" class="fab fa-twitter fs-16"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content p-relative text-center">
                                            <h4><a href="#" class="text-custom-black fw-600 fs-20">Eachann Jhon</a></h4>
                                            <p class="designation text-light-white">Gastroenterologists</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-3" style="float:left">
                    <div class="col-12 no-padding">
                        <div class="doctors-slider">
                            <div class="slide-item col-12">
                                <div class="team-block p-relative">
                                    <div class="inner-box">
                                        <div class="image animate-img">
                                            <img src="https://via.placeholder.com/255" alt="img" class="full-width">
                                            <div class="overlay-box">
                                                <div class="overlay-inner p-relative full-height">
                                                    <ul class="team-social-box custom">
                                                        <li class="youtube"><a href="#" class="fab fa-youtube fs-16"></a></li>
                                                        <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16"></a></li>
                                                        <li class="facebook"><a href="#" class="fab fa-facebook-f fs-16"></a></li>
                                                        <li class="twitter"><a href="#" class="fab fa-twitter fs-16"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content p-relative text-center">
                                            <h4><a href="#" class="text-custom-black fw-600 fs-20">Eachann Jhon</a></h4>
                                            <p class="designation text-light-white">Gastroenterologists</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-3" style="float:left">
                    <div class="col-12 no-padding">
                        <div class="doctors-slider">
                            <div class="slide-item col-12">
                                <div class="team-block p-relative">
                                    <div class="inner-box">
                                        <div class="image animate-img">
                                            <img src="https://via.placeholder.com/255" alt="img" class="full-width">
                                            <div class="overlay-box">
                                                <div class="overlay-inner p-relative full-height">
                                                    <ul class="team-social-box custom">
                                                        <li class="youtube"><a href="#" class="fab fa-youtube fs-16"></a></li>
                                                        <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16"></a></li>
                                                        <li class="facebook"><a href="#" class="fab fa-facebook-f fs-16"></a></li>
                                                        <li class="twitter"><a href="#" class="fab fa-twitter fs-16"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content p-relative text-center">
                                            <h4><a href="#" class="text-custom-black fw-600 fs-20">Eachann Jhon</a></h4>
                                            <p class="designation text-light-white">Gastroenterologists</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>




                </div>
             </div>
         </div>
         </div>
         </div>

</section>   <!-- End Team -->



{% endblock %}
