{% extends 'base.html' %}
{% block title %}Contact Us | Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}Contact{% endblock page_name %}
{% block page_link %}<a href="{% url 'main_application:contact-us' %}">Contact</a>{% endblock page_link %}
{% load static %}
{% block content %}
        <!-- End Subheader -->
        <!-- Start Contact -->
        <section class="section-padding bg-light-white contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 mb-md-80">
                        <div class="contact-form full-height align-self-center bx-wrapper bg-custom-white">
                            <h4 class="text-custom-black fw-600">Get In Touch</h4>
                            <p class="text-light-white no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <form class="form-layout-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="text-left">First Name</label>
                                            <input type="text" name="#" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="text-left">Last Name</label>
                                            <input type="text" name="#" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-xl-20">
                                        <div class="form-group">
                                            <label class="text-left">Email Address</label>
                                            <input type="email" name="#" class="form-control" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-left">Message</label>
                                            <textarea rows="5" name="#" class="form-control" placeholder="Write Something"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn-first btn-submit text-light-blue full-width">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8">
                     <!--   <iframe class="full-width full-height" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe> -->
                            <iframe class="full-width full-height" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.0591879896933!2d90.38903191448641!3d23.887519789442273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c46bd0c06b25%3A0xd1f310464712f49d!2sAhsania%20Mission%20Cancer%20and%20General%20Hospital%20-%20AMCGH!5e0!3m2!1sen!2sbd!4v1658550238386!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact -->
        <!-- Start Contact Bottom -->
        <section class="section-padding bg-light-white contact-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info bx-wrapper bg-custom-white text-center mb-md-40">
                            <div class="contact-info-wrapper">
                                <div class="icon mb-xl-20">
                                    <i class="flaticon-telephone"></i>
                                </div>
                                <h5 class="text-custom-black fw-600">Phone</h5>
                                <p class="text-light-white">Start working with AMCGH that can provide everything</p>
                                <a href="#" class="fs-14">+(880)1531291810</a><br>
                                <a href="#" class="fs-14">+(880)1841556601</a><br>
                                <a href="#" class="fs-14">02-55092140</a><br>
                                <a href="#" class="fs-14">02-55092196-7</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info bx-wrapper bg-custom-white text-center mb-md-40">
                            <div class="contact-info-wrapper">
                                <div class="icon mb-xl-20">
                                    <i class="flaticon-email"></i>
                                </div>
                                <h5 class="text-custom-black fw-600">Email</h5>
                                <p class="text-light-white">Start working with AMCGH that can provide everything</p>
                                <a href="#" class="fs-14">amcgh.info@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info bx-wrapper bg-custom-white text-center">
                            <div class="contact-info-wrapper">
                                <div class="icon mb-xl-20">
                                    <i class="flaticon-pin"></i>
                                </div>
                                <h5 class="text-custom-black fw-600">Location</h5>
                                <p class="text-light-white">Start working with Genmed that can provide everything</p>
                                <a href="#" class="fs-14">Plot-03 , Embankment Drive Way
Sector-10 , Uttara Model Town
Uttara , Dhaka-1230.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Bottom -->
        <!-- Start Newsletter -->
  {% endblock %}