{% extends 'base.html' %}
{% block title %}Mission & Vision | Ahsania Mission Cancer & General Hospital{% endblock title %}
{% block page_name %}Mission & Vision{% endblock page_name %}
{% block page_link %}<a href="#">Mission & Vision</a>{% endblock page_link %}
{% load static %}
{% block content %}

<section class="section-padding bg-light-white service-page">
            <div class="container">
                <div class="row">

                   <div class="col-lg-12">
                        <div class="col-12">
                            <div class="service-detail-sec bg-custom-white bx-wrapper">
                                <div class="services-detail-slider mb-xl-30">
                                    <div class="service-image">
                                        <img src="{% static 'assets/images/mission-vision.jpg' %}" class="image-fit" alt="mission_vision">
                                        <div class="overlay overlay-bg-black"></div>
                                        <div class="service-text-wrapper transform-center">
                                            <h3 class="text-custom-white">Mission & Vision</h3>

                                        </div>
                                    </div>

                                </div>
                                <div class="service-meta mb-xl-30">
                                    <p align="justify" class="text-light-white">
                                       <strong style="font-size: 20px;"> Mission & Vision </strong><br>
                                        <ul style="font-size: 15px;">
                                    <li >Create scope for most modern health care services with special emphasis on cancer treatment at affordable cost.</li>
                                    <li>30% of the treatment facilities will be kept reserved for the poor and needy patients free of charge.</li>
                                </ul><br>

                                    <strong class="text-light-white" style="font-size: 20px;">  Objective </strong><br><br>

                                        <ul style="font-size: 15px;">
                                    <li>Reduce the incidence of cancer through primary prevention.</li>
                                    <li>Ensure effective screening and early detection to reduce cancer incidence and mortality.</li>
                                    <li>Ensure effective diagnosis and treatment to reduce cancer morbidity and mortality.</li>
                                    <li>Improve the quality of life for those with cancer, their family through support, rehabilitation and palliative care.</li>
                                    <li>Improve the delivery of services across the continuum of cancer control through effective planning, co-ordination and integration of activities and resources, monitoring and evaluation.</li>
                                    <li>Improve the effectiveness of cancer control in Bangladesh through research and surveillance.</li>
                                </ul><br>
                                    <p>Building on the ideas of the Sufi Saint Khan Bahadur Ahsanullah (Rahmatullah Alaihee), "Divine and Humanitarian Service", the Dhaka Ahsania Mission (DAM) has embarked on establishing a modern cancer hospital where world-class treatment will be available. Besides the hospital initiative Dhaka Ahsania Mission does other services. </p><br>
                                         <strong class="text-light-white" style="font-size: 20px;">  Motto of DAM </strong><br><br>

                                        <ul style="font-size: 15px;">
                                    <li>“Divine and Humanitarian Service”</li>
                                </ul><br>

                                           <strong class="text-light-white" style="font-size: 20px;">  Aims of Dhaka Ahsania Mission </strong><br><br>

                                        <ul style="font-size: 15px;">
                                    <li>Undertake societal and spiritual development of all mankind</li>
                                    <li>Remove all discrimination between man and man.</li>
                                    <li>Foster unity and brotherhood amongst all human beings and inspire Divine love.Teach all, the virtues of humility and shunning arrogance.</li>
                                    <li>Enable all human beings to recognize and realize the relationship between the Creator and creation.</li>
                                    <li>Enable all to become conscious of a person’s duty to the Creator and to his fellow human beings.</li>
                                    <li>Provide all possible help to alleviate sufferings of humanity in distress.</li>
                                </ul><br>


                                    </p>


                                </div>
                            </div>


                    </div>
                </div>
                </div>
                </div>
        </section>


{% endblock %}

